[2013-10-27 13:43] JakeGinnivan opened #1 "Generate Release Notes"
We need to generate release notes based on something. Lets discuss

[2013-10-27 13:52] JakeGinnivan opened #2 "How to authenticate with GitHub?"
Being a command line utility, what is the best way to authenticate? We don't really want passwords in build logs etc.

[2013-10-27 13:53] JakeGinnivan opened #3 "Tag HEAD with version"
We need to tag the current head with the specified version

[2013-10-27 13:54] JakeGinnivan opened #4 "Push Tag to remote"
After we tag the commit, we need to put it to the remote

[2013-10-27 13:54] JakeGinnivan opened #5 "Create release on GitHub"
By default, GitReleaseNotes generates release notes for all commits since last tag. A /Publish flag should be available to publish to the selected provider. In this case it will be GitHub.

For other providers which do not support light weight releases, an error should be thrown.

[2013-10-27 13:55] JakeGinnivan opened #6 "Upload artifacts to the release"
Relies on #5

An /Artifacts flag should be introduced, which will attached those artifacts to the release in GitHub

[2013-10-27 14:44] #4 closed, assigned to nobody

[2013-10-27 14:44] #3 closed, assigned to nobody

[2013-11-19 01:46] JakeGinnivan opened #7 "Test issue"

[2013-11-19 01:47] #7 closed, assigned to nobody

[2013-11-23 18:42] #2 closed, assigned to nobody

[2013-11-23 18:43] #1 closed, assigned to nobody

[2013-11-23 18:51] JakeGinnivan opened #8 "Release headings"
GitReleaseNotes should be able to generate multi-version release notes. If multiple tags are encountered when scanning commits then those versions should create headers grouping the notes between releases

[2013-11-23 18:55] JakeGinnivan opened #9 "Allow inclusion of release summary"
http://www.semanticreleasenotes.org allows release summaries, a default release summary should be generated.

An example of the default release summary could be `This release consist of [these issues]({0}) that were achieved through [these commits]({1}).` like [ReleaseNotesCompiler](https://github.com/Particular/ReleaseNotesCompiler/blob/master/Compiler/ReleaseNotesBuilder.cs) does

[2013-12-09 08:36] #8 closed, assigned to nobody

[2013-12-13 15:14] JakeGinnivan opened #12 "update nuspec with release notes"
So I can just hit publish

[2013-12-17 11:50] JakeGinnivan opened #13 "Command line args for a specific iissue provider should not be visible unless /issueTracker is specified"
Or they should be grouped down the bottom

[2013-12-17 14:52] JakeGinnivan opened #14 "Jira Support"
Add support for Jira issue tracker

[2013-12-17 14:52] JakeGinnivan opened #15 "TFS Support"
Add TFS Support

[2013-12-17 14:53] JakeGinnivan opened #16 "BitBucket Support"
Add bitbucket support

[2013-12-17 15:13] JakeGinnivan opened #17 "YouTrack Support"
Add support for YouTrack

[2013-12-17 17:19] JakeGinnivan opened #19 "Support Issue numbers in branch names"
Sometimes issue numbers are put in branch names instead of in the commit messages. This should be supported

[2013-12-17 20:48] #5 closed, assigned to nobody

[2013-12-17 20:51] #14 closed, assigned to nobody

[2013-12-17 21:38] JakeGinnivan opened #20 "Pull Request issues should not be included"

[2013-12-18 11:18] maartenba opened #21 "Error finding OctoKit when downloading via NuGet"
Error finding OctoKit when downloading via NuGet.

[12:16:31][exec] Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'Octokit, Version=0.1.4.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. The system cannot find the file specified.

[12:16:31][exec]    at GitReleaseNotes.Program.CreateIssueTrackers(GitReleaseNotesArguments arguments)

[12:1

[2013-12-18 11:27] #20 closed, assigned to nobody

[2013-12-18 11:27] #21 closed, assigned to nobody

[2014-01-02 17:42] JakeGinnivan opened #22 "Search Pull Requests for issues numbers"
GitReleaseNotes should also support merged pull requests which reference issues. If the pull request mentions a issue in its title or body and that issue is now closed it should be included in the release notes

[2014-03-28 23:24] pvandervelde opened #23 "Release note for multiple tags has earliest at the top instead of bottom"
The release notes currently have the 'vNext' version at the top but all other tags are ordered by date starting with the oldest. I would expect that the oldest would be at the bottom.

[2014-04-06 22:44] #23 closed, assigned to nobody

[2014-04-11 01:02] pvandervelde opened #24 "Allow providing version for vNext"
All issues closed since the last tag are currently placed under the 'vNext' tag. In order to allow the release notes to be generated prior to tagging the current build it would be nice if we could specify the current version so that the 'vNext' tag can be replaced by the current version.

[2014-04-25 09:45] #24 closed, assigned to nobody

[2014-04-27 22:25] kkozmic opened #26 "Add shoutouts"
There are two types of people involved in any release:
- team members, who have write access to the repo
- community, who send pull requests

It would be nice (and encourage more community contributions) to give shoutouts to people sending pull requests), like this (manually built) release notes for Castle Core: https://github.com/castleproject/Core/releases/tag/v3.3.0

[2014-05-01 22:14] pvandervelde opened #28 "When specifying 'FromTag all' the issues closed for the first tag aren't included"
This is because the `ByClosedIssues.GetReleaseNotes` method starts the gathering of closed issues from the closing date of the first tag to the current date. That should probably be the PreviousReleaseDate of the first tag.

[2014-05-11 08:59] #17 closed, assigned to nobody

[2014-05-11 09:34] #22 closed, assigned to nobody

[2014-05-11 14:51] #26 closed, assigned to nobody

[2014-05-11 16:08] JakeGinnivan opened #31 "Put issue number at the start of issue"

[2014-05-11 16:08] #31 closed, assigned to nobody

[2014-05-11 16:41] JakeGinnivan opened #32 "Create chocolatey package"
I think the recommended way to use it is to put it in your PATH. So we should create a chocolatey package and maybe a zip distribution

[2014-05-11 16:43] JakeGinnivan opened #33 "Support stash"
We should add support for stash, making VCS a first class concept.

That way if you are using Jira + Stash for instance, issues would come from Jira, pull requests would come from Stash. Making a good experience, no matter what systems you are using

[2014-05-11 16:46] JakeGinnivan opened #34 "When FromTag is not specified, everything is included"
It should only include from the last tag

[2014-05-14 18:04] #32 closed, assigned to nobody

[2014-05-20 11:36] #28 closed, assigned to nobody

[2014-05-20 11:36] #34 closed, assigned to nobody

[2014-05-26 21:39] pvandervelde opened #36 "Provide different output formats"
It would be really nice to not only have a Markdown file as the output but maybe also a text file and and XML / JSON file. The use cases for the latter two files are:
* The text file could be used to update the NuSpec file with release notes. Given that NuSpec doesn't process Markdown there is no point in formatting it in Markdown format. Raw text would probably look cleaner.
* The XML file can be

[2014-06-03 09:33] JakeGinnivan opened #37 "Running without /alltags then /alltags does nothing"
It should raise an error, I don't think there would be a migration path

[2014-06-03 09:43] JakeGinnivan opened #38 "Encode < and > symbols"
We need to encode characters which do not render in markdown properly

[2014-06-07 09:34] JakeGinnivan opened #39 "Text below release notes is put into lists"
[code]

Results in:

[code]

We should handle this text

[2014-06-09 23:52] pvandervelde opened #40 "When using a repository without tags there is no difference between /AllTags and not specifying /AllTags"
The expectation is that the result of running with /AllTags should put the expected version (passed via /Version) at the top of the output file.

Expected:

[code]

Actual:

[code]

[2014-06-11 04:49] pvandervelde opened #41 "Provide a way to filter out certain issues from being included in release notes"
This would be useful for tasks that are in the issue list but that don't actually contribute code, e.g. setting up a build server or cutting a release etc. etc. The YouTrack and Jira issue trackers already have that ability through their filters but the GitHub issue tracker always includes all items.

[2014-06-25 21:46] JakeGinnivan opened #42 "New releases should go above old ones"
When the old release notes does not have all tags new sections can be added to the bottom, they should be at the top.

[2014-06-25 21:47] JakeGinnivan opened #43 "Release date parsing improvements"
We should try and support as many date formats as we can, and if we fail simple append the unparsed date to the title

[2014-06-25 21:48] JakeGinnivan opened #44 "Commit range should link to GitHub compare"
The `Commits: sha...sha` should link to /compare/sha...sha on github.

[2014-06-25 22:13] #39 closed, assigned to nobody

[2014-06-25 23:13] khellang opened #46 "Not able to install"
I'm not able to install through Chocolatey. Here's the error:

![2014-06-26_01-11-25](https://cloud.githubusercontent.com/assets/582487/3393086/306dd69a-fcbe-11e3-8b7a-b7e0561dc4de.png)

Seems like it's because https://github.com/JakeGinnivan/GitReleaseNotes/releases/download/0.5.0/GitReleaseNotes.0.5.0.zip returns 404.

[2014-06-25 23:26] khellang opened #47 "RateLimitExceededException"
When your rate limit is exceeded, Octokit.NET throws an `RateLimitExceededException`. It would be nice if this was handled and the user was given a nice error message :smile:

![2014-06-26_01-24-56](https://cloud.githubusercontent.com/assets/582487/3393188/2b6a055e-fcc0-11e3-964f-100671f1bd1b.png)

I'll send a PR if you give me some time :wink:

[2014-06-25 23:35] khellang opened #48 "No file output"
When I try to generate release notes for scriptcs, it says it finds the `.git` folder, then it says it's done, but I can't find any output. I noticed there is a `/Verbose` switch, but since I hit the GitHub API rate limit (see #47)  it doesn't reach the point where it's done anymore, so I can't test it.

![2014-06-26_01-27-49](https://cloud.githubusercontent.com/assets/582487/3393222/eda00bf0-fcc0

[2014-06-26 08:08] GeertvanHorrik opened #49 "Readme is outdated for Jira setup"
/IssueTracker Jira /Server MyJiraServer

It should be

/IssueTracker Jira /JiraServer MyJiraServer

[2014-06-26 08:17] GeertvanHorrik opened #50 "Default JQL will not work on default JIRA instances"
project = CTL AND (issuetype = Bug OR issuetype = Story OR issuetype = \"New Feature\") AND status in (Closed, Done, Resolved) AND updated > '2014-05-25 11:22'

won't work. This will work on my default jira instance (removed Done from status):

project = CTL AND (issuetype = Bug OR issuetype = Story OR issuetype = \"New Feature\") AND status in (Closed, Resolved) AND updated > '2014-05-25 11:22'

[2014-06-26 08:19] GeertvanHorrik opened #51 "FieldAccessException when parsing JIRA results"
In JiraApi.GetClosedIssues:

An unhandled exception of type 'System.FieldAccessException' occurred in System.Web.Helpers.dll

Additional information: Attempt by method 'System.Web.Helpers.Json.Decode(System.String)' to access field 'System.Web.Helpers.Json._serializer' failed.

[2014-06-26 08:21] #51 closed, assigned to nobody

[2014-06-26 08:22] GeertvanHorrik opened #52 "Use Costura"
I know that GitVersion and GitHubLink use Costura to pack all the required assemblies into a single executable. This allows for easier distribution if you don't want to use NuGet / Chocolatey.

[2014-06-26 08:25] GeertvanHorrik opened #53 "Consider allowing remote repositories"
I have implemented support for remote git repositories in both GitVersion and GitHubLink. I think that could be a great addition to this project as well. Maybe if I find some time next week I will try to create a pull request.

[2014-07-03 13:49] JakeGinnivan opened #54 "Add tags to be excluded option"
something like `/excludeTags wontfix` or something like this to easily filter out issues which are not fixed.

[2014-07-03 13:56] ferventcoder opened #55 "Allow /format "some format here""
To be specified for line notes and headers. Not everyone wants them to be specified the same way and rather than proposing to change the default, allow the ability to override the defaults.

for headers:

[code]

I like for line notes

[code]

so it would be something like `/headerFormat "### {(tag}} ({{releasedate}})" /issueFormat " * {{summary}} - [{{id}}]({{url}})"`

[2014-11-02 19:35] dazinator opened #58 "System.AggregateException when trying to /Publish"
I am trying to get it to automatically create the release on GitHub, however it's throwing an AggregateException.

I am guessing the command line syntax a bit, here is the output:

[code]

[2014-11-14 09:40] serra opened #59 "When a commit is tagged more than once, we get an unhandled exception"
[code]

ReleaseFinder.cs, line 13

You can expect a PR for this soon.

[2014-11-15 14:40] #59 closed, assigned to nobody

[2014-11-15 14:56] #58 closed, assigned to nobody

[2014-11-15 15:07] #50 closed, assigned to nobody

[2014-11-15 15:07] #49 closed, assigned to nobody

[2014-11-15 15:10] #16 closed, assigned to nobody

[2014-11-15 15:41] #52 closed, assigned to nobody

[2014-11-26 20:43] AnneTheAgile opened #61 "Useability; 1.Add Link to Github ReleaseNotes.md ; 2.Add Commit Range's Datestamps."
This project looks great to me! 2 things I'd like and perhaps can fix are ;

1.Add Link to Github ReleaseNotes.md
Right now https://github.com/JakeGinnivan/GitReleaseNotes/blob/master/ReleaseNotes.md
is not referenced from https://github.com/JakeGinnivan/GitReleaseNotes/releases

2.Add Commit Range's Datestamps.
On the notes page, https://github.com/JakeGinnivan/GitReleaseNotes/releases  ,
each se

[2014-12-01 18:52] AnneTheAgile opened #62 "Fails to run with .InvalidOperationException: Sequence contains more than one matching element."
I am just trying it out now I am getting the following  error on any combo so far of arguments.
[code]

The install seems ok, I switched to do it with an admin session.
[code]

[2015-01-20 17:13] AnneTheAgile commented on #36
@JakeGinnivan , maybe one very small step is to pre-validate each release notes with the live editor ? http://www.semanticreleasenotes.org/#Editor

Maybe you already do that? (I did not with my PR #63  - just saw it!).

[2015-01-21 22:40] dazinator commented on #53
:+1:

[2015-01-25 16:20] dazinator commented on #53
As I also needed this feature, and as @GeertvanHorrik has already done most of the hard work in other projects, I thought I'd have a go at moving this accross and refactoring it in. I'll submit a PR for you to do with what you will, assuming I succeed :)

[2015-01-25 19:00] dazinator commented on #53
Have submitted PR #64

[2015-01-29 22:32] JakeGinnivan commented on #62
Try downloading the latest release. This hopefully is fixed.

Reopen if it is still an issue

[2015-01-29 22:32] #62 closed

[2015-01-30 17:02] abbottdev opened #65 "Chocolatey install build"
Hi,

Latest version on chocolatey is v.0.5.0 - Is chocolatey included as a target in your package target, or is there just a delay?

https://chocolatey.org/packages?q=gitreleasenotes&prerelease=true&sortOrder=relevance

Thanks

[2015-01-30 17:56] JakeGinnivan commented on #65
It's submitted waiting to be approved

Sent from my Windows Phone
________________________________
From: James Abbott<mailto:notifications@github.com>
Sent: ý30/ý01/ý2015 17:02
To: JakeGinnivan/GitReleaseNotes<mailto:GitReleaseNotes@noreply.github.com>
Subject: [GitReleaseNotes] Chocolatey install build (#65)

Hi,

Latest version on chocolatey is v.0.5.0 - Is chocolatey included as a target in you

[2015-01-30 23:16] #65 closed

[2015-01-30 23:17] abbottdev commented on #65
Thanks

[2015-02-17 23:41] uncled1023 opened #66 "When Tag is on a commit that closes an issue, that issue should be in the tag's version"
When I tagged a commit, and then generated release notes, it correctly grabbed the issues closed within that tag's version, but did not include the commit that the tag was on.  It put that commit under vNext, which is not correct as the tag signifies a release.

[2015-02-25 09:30] laedit commented on #36
I had the same issue, so I made a [project](https://github.com/laedit/SemanticReleaseNotesParser/) which allow to parse and format a Semantic Release Notes.
Sadly the current version of the spec doesn't handle multiples releases on the same file, but with the current format of GitReleaseNotes they are recognized as sections.

[2015-02-26 03:34] AnneTheAgile commented on #36
@laedit, ty! I will try it out. I got all distracted looking into the appveryor build syntax, I had not seen them before.

[2015-02-27 11:21] JonCubed opened #67 "Jira support is broken"
I am getting the following exception when I try it with Jira.
'RestSharp.JsonObject' does not contain a definition for 'issues'

After a bit of research it seems that the RestSharp NuGet has deserialising to dynamics off, [see line 29] (https://github.com/restsharp/RestSharp/blob/master/RestSharp/SimpleJson.cs#L29).

[2015-02-27 21:57] JakeGinnivan commented on #67
I am not against changing the json parser to one which will work better. Otherwise happy to get a PR with the changes required to make RestSharp work

[2015-03-05 13:58] johnkors opened #68 "Crash on first run"
Ran cinst gitreleasenotes

Typed Gitreleasenotes in a console from within my repo.

Crash.

Was expecting a /help thingy when running it without params..

[code]

[2015-03-10 10:39] laedit commented on #55
I needed another format too, so I made a [tool](https://github.com/laedit/SemanticReleaseNotesParser) which parse the semantic release notes generated by GitReleaseNotes and allow to define a custom liquid template to format a markdown or html file.

[2015-03-10 10:54] JakeGinnivan commented on #55
I assume you saw this @laedit as you have been participating in the conversation but https://github.com/Glimpse/Semantic-Release-Notes/issues/11#issuecomment-76742039

I just think it is weird that you have to render markdown to another markdown file which is no longer a semantic release notes as you want a different header size.. Once we fix the spec then we can fix GitReleaseNotes and then the S

[2015-03-10 13:28] laedit commented on #55
I understand and I'm ok with that but in my case I like to have a big ReleaseNotes.md with all versions and use only the last version release notes formatted specifically for GitHub release for example, so a double processing is unavoidable.
The first goal of my tool is not to have a valid semantic release notes at the end since the formating is free, only to parse one.

[2015-03-10 13:35] laedit opened #69 "Add /AllLabels argument to allow all label to be a category"
Right now I have to define the categories I want that GitReleaseNotes use with the /Categories but in the case that I want all labels to be used as categories I think it'll be easier to juste use a /AllLabels (or /AllCategories or /AllLabelsAsCategories, I'm not good with names).

If you are ok with the idea I'd be happy to propose a PR :smiley:

[2015-03-10 13:39] JakeGinnivan commented on #55
I think I am after the same thing as you. I was thinking the current release is built up in ReleaseNotes.md then when you release you take that working version, fix the title with the release version and date then take it's contents and put into a github release.

How would your workflow work?

[2015-03-10 13:40] JakeGinnivan commented on #69
Sure, I am happy to add you as a contributor to this project too. I am short on time and if you are finding this useful happy for you to help out :) I can review/merge your stuff still

[2015-03-10 14:32] laedit commented on #69
Thanks, I'll propose a PR in about a week I think.

[2015-03-10 15:13] laedit commented on #55
My workflow isn't fixed, but generally once in a while I update my ReleaseNotes.md with GitRealeaseNotes and make some modification if needed. On release I take the first release (right now the first section because like you said the multiple releases is not handled), process it if I want a particular format and put it on GitHub release in markdown and/or as an HTML file if I release a zip with an

[2015-03-13 05:32] JonCubed commented on #67
I've switched it to JSON.NET in my fork, but I have a bunch of jira fixes in the works so PR after I finish those off.

[2015-03-13 21:33] JakeGinnivan commented on #68
Hey, sorry things are not working.

It looks like it is a private repository which would be causing the crash. You will have to pass an auth token.

There is a bunch of stuff I want to do around this project, I am just struggling to find the time. Appreciate you taking the time to report the issue. The idea is that it should just work when you run it, and errors like this should be caught and dece

[2015-03-16 09:47] #69 closed

[2015-03-16 09:48] JakeGinnivan commented on #69
Do you think this should be the default?

[2015-03-16 12:30] laedit commented on #69
Well even if that'll make easier my use of GitReleaseNotes I don't think it should be the default:
 - it'll be a breaking change
 - most of the projects on GitHub use a lot of labels to indicate the priority, the state or other things about an issue and I don't think it's the kind of things people want to have in a release notes

I can be wrong, it depends on how people manage their labels but I t

[2015-03-16 18:32] JakeGinnivan commented on #69
Thats fine, happy leaving it. Just thought id ask.

[2015-03-16 21:09] laedit commented on #69
Thanks for the thought :smiley:

[2015-03-29 13:37] DevlinSchoonraad opened #71 "Error generating release notes from BitBucket private repo"
When using BitBucket, calling "GitReleaseNotes.exe /OutputFile ReleaseNotes.md /username <username> /password <password>" generates the following error. There is a closed issue under issues for the repository.

Unhandled Exception: Microsoft.CSharp.RuntimeBinder.RuntimeBinderException: 'RestSharp.JsonObject' does not contain a definition for 'issues'
   at CallSite.Target(Closure , CallSite , Obje

[2015-03-29 21:25] DevlinSchoonraad commented on #71
I found the /ConsumerKey and /ConsumerSecretKey switches in the help, but these too failed with the same "Unhandled Exception: Microsoft.CSharp.RuntimeBinder.RuntimeBinderException: 'RestSharp.JsonObject' does not contain a definition for 'issues'" error. I made changes to the code to get this working.

[2015-04-07 09:25] GeertvanHorrik commented on #67
I am having this issue as well. Will do a PR if I can get this fixed.

[2015-04-07 09:32] GeertvanHorrik commented on #67
@JakeGinnivan did you not use the Atlassian SDK for a reason?

[2015-04-07 09:33] JakeGinnivan commented on #67
Nope, didn't realise it existed when I looked. News to me that it exists now actually :P

[2015-04-07 09:34] GeertvanHorrik commented on #67
I used it in JiraCli (see https://github.com/catenalogic/jiracli), will create PR with that usage. Then we can query the "closed" status so it will work on each system

[2015-04-07 09:35] JakeGinnivan commented on #67
Great, thanks

[2015-04-07 09:53] GeertvanHorrik opened #73 "Create improvements to improve usability"
Created based on this issue: https://github.com/JakeGinnivan/GitReleaseNotes/issues/67

Tasks for this issue:

1) ~~Add context classes (context might have more than just the arguments specified, and allows easier understanding how things work)~~
2) ~~Use Atlassian SDK instead of manual json requests~~
3) Add logger (ILogger) so the exe can be referenced and used without command line. I am thinkin

[2015-04-07 09:55] JakeGinnivan commented on #73
Nice idea with the service! I am happy to put it up on Azure when we get it working

[2015-04-07 10:51] GeertvanHorrik commented on #73
Yes, we are planning to create an automated "what's new" section into all of our apps which call a webservice that generates (and caches) release notes. Thing is that it's too tightly coupled to console apps for now, but I will try to prepare as much as possible.

[2015-04-07 10:58] JakeGinnivan commented on #73
Agreed, I was planning to take a decent run at this. If you can sort the Jira stuff then I can have a crack at separating it out.

I would want the service to also take into account the releasenotes file in the repo so it appends, allowing you to customise the output as you are building a release.

What sort of workflow are you thinking with the service?

[2015-04-07 11:01] GeertvanHorrik commented on #73
We have desktop software apps. We have major versions and prereleases (we use GitVersion for version determination, Squirrel for deployment).

What I want is the following:

1) After every update, show a "welcome, these are the changes". For delta versions, this would be the delta from the previous release to the current release
2) For major versions, it should show the release notes for the major

[2015-04-07 11:02] JakeGinnivan commented on #73
I guess with Jira you can use the closed reason and only show fixed/resolved but not wont fix and duplicate etc?

[2015-04-07 11:04] GeertvanHorrik commented on #73
New workflows in jira are simpler and don't have too many closed statuses. Since you can fully customize any status (and tell if it represents a "closed" status) in jira, we can query them first to dynamically set up the default JQL. Currently working on that.

[2015-04-07 11:06] JakeGinnivan commented on #73
A problem I have with GitHub is closed issues which are discussions, not bugs etc. I need to delete them out of the release notes which are generated. If it is generated on the fly how do you keep it clean?

[2015-04-07 11:07] GeertvanHorrik commented on #73
For me the focus is JIRA (I don't touch anything else). I think GitHub needs a discussion forum, if they don't fix that, we can't prevent that. Maybe we can check tags, but that's for later. For today the focus is moving to context and make sure Jira generates some decent release notes.

[2015-04-07 11:44] JakeGinnivan commented on #73
:+1:

[2015-04-07 12:25] GeertvanHorrik opened #74 "Temporary .git directory issues"
I think the following changes should be made:

1) Move to temp directory
2) Consider not to delete the directory (same thing done with GitVersion)

[2015-04-08 11:58] #73 closed

[2015-04-08 11:58] GeertvanHorrik commented on #67
This is fixed now.

[2015-04-08 11:58] #67 closed

[2015-04-08 11:59] GeertvanHorrik commented on #71
I have switched to Atlassian SDK for jira. Maybe that supports bitbucket as well.

[2015-04-08 11:59] #6 closed

[2015-04-08 12:00] JonCubed commented on #67
Just looked at the SDK, it has uses the deprecated SOAP API for jira which has a major bug in regards to JQL, It will only ever get the first maxIssues.

I thought a workaround could be to get the count of issues the jql returns but doesn't seem to be a way to do it.

[2015-04-08 12:01] GeertvanHorrik commented on #67
The prerelease for the SDK dates from 2013, but the stable version dates from December 2014. That contains the bug?

[2015-04-08 12:09] JonCubed commented on #67
yeah its the Jira SOAP API that doesn't support it, so nothing the SDK can do to fix it unless they switch to the REST API

[2015-04-08 14:04] GeertvanHorrik commented on #74
Already written preparations in the FileSystem service.

[2015-04-08 14:51] JonCubed commented on #67
found [Jira Rest Client](https://github.com/techtalk/JiraRestClient), I've added a couple of pull requests to match the needed functionality.

If your happy I'll add a PR for swapping over to it once they are merged.

[2015-04-08 14:57] GeertvanHorrik commented on #67
That would be great. We will await the pr. Thanks!

[2015-04-09 11:31] #74 closed

[2015-04-09 11:33] GeertvanHorrik commented on #61
@AnneTheAgile , I see you have committed a few things. Do you think it's ready for a PR?

[2015-04-09 11:35] GeertvanHorrik commented on #48
@khellang / @c0bra sorry you had to wait this long for a reply. What is the status, still throwing errors?

[2015-04-09 11:35] GeertvanHorrik commented on #66
@uncled1023 Interested in doing a PR?

[2015-04-09 11:36] GeertvanHorrik commented on #47
I had this today as well. Will put this into the maintenance release (nice to have).

[2015-04-09 11:37] GeertvanHorrik commented on #42
I just tested this, I think the releases are in the right order now.

[2015-04-09 11:38] GeertvanHorrik commented on #36
I think this can be merged with #55. Will close this, feel free to re-open if I am mistaken.

[2015-04-09 11:38] #36 closed

[2015-04-09 11:39] GeertvanHorrik commented on #13
I think we should consider redoing the command line options anyway.

[2015-04-09 11:41] GeertvanHorrik commented on #41
Closing this as duplicate in favor of #54

[2015-04-09 11:41] #41 closed

[2015-04-09 11:42] GeertvanHorrik commented on #53
Works. Thanks for the contribution @dazinator

[2015-04-09 11:42] #53 closed

[2015-04-09 18:03] DevlinSchoonraad commented on #71
Hi Geert

I fixed this and the pull request https://github.com/GitTools/GitReleaseNotes/pull/72 has been merged. Is there an issue with the change?

[2015-04-09 18:06] GeertvanHorrik commented on #71
Nope, if it's merged, we can close this. Thanks for the update!

[2015-04-09 18:06] #71 closed

[2015-04-09 18:30] DevlinSchoonraad commented on #71
No problem

On Thu, Apr 9, 2015 at 8:06 PM, Geert van Horrik <notifications@github.com>
wrote:

[2015-04-09 22:31] uncled1023 commented on #66
I can look into it, sure.  Not much time right now, not sure if i'll hit the milestone.

[2015-04-12 16:01] JakeGinnivan opened #80 "When issue tracker is not found, remote should be used"
This feature no longer works. If using Github for source and issues it used to use the remote defined in the repo to infer the issue tracker.

Also worked for Bitbucket and should work for TFS when that is done

[2015-04-12 16:05] JakeGinnivan opened #81 "Shouldn't need to specify repo and issue tracker if they are the same"

[2015-04-12 16:07] JakeGinnivan opened #82 "GitHub 'IssueTracker.ProjectId is required'"

[2015-04-12 16:07] JakeGinnivan opened #83 "If run in git repo, branch and repo url shouldn't need to be specified"

[2015-04-18 07:50] GeertvanHorrik commented on #80
I know I probably broke a few things with the transition to the new context. I will look into it when I can.

[2015-04-18 08:21] JakeGinnivan commented on #80
I just threw then up to track/discuss. Don't stress, I've not had time to look into it properly

Sent from my Windows Phone
________________________________
From: Geert van Horrik<mailto:notifications@github.com>
Sent: ‎18/‎04/‎2015 09:50
To: GitTools/GitReleaseNotes<mailto:GitReleaseNotes@noreply.github.com>
Cc: Jake Ginnivan<mailto:jake@ginnivan.net>
Subject: Re: [GitReleaseNotes] When issue tra

[2015-04-21 20:12] GeertvanHorrik opened #84 "Create CONTRIBUTING.MD"

[2015-05-17 15:34] abe545 commented on #46
@JakeGinnivan it looks like this is still happening, at least for 0.5.0 and 0.6.0.

[2015-05-17 15:36] GeertvanHorrik commented on #46
This is probably caused because we moved GitReleaseNotes to a new team project called GitTools. We hope to release a new version soon that fixes this issue.

[2015-05-18 19:36] khellang commented on #46
Doesn't GitHub set up redirects for these scenarios?

[2015-05-18 19:54] GeertvanHorrik commented on #46
Apparently not for the releases

[2015-05-19 09:23] khellang commented on #46
I think everything should be redirected. I.e. `/JakeGinnivan/GitReleaseNotes/{rest-of-url*}` should automatically be redirected to `/GitTools/GitReleaseNotes/{rest-of-url*}`. Could it be that the client doesn't follow redirects?

[2015-05-19 09:25] GeertvanHorrik commented on #46
I think I see the problem. Jake has forked the repository again (and with a fork, releases are not cloned).

[2015-05-19 09:26] khellang commented on #46
Ah, right. From [the docs](https://help.github.com/articles/transferring-a-repository/):

[2015-06-09 11:40] GeertvanHorrik commented on #83
This should be implemented when using GitTools.Core (which I have locally).

[2015-06-09 11:41] GeertvanHorrik opened #85 "Use Issue.FixVersions to determine the fix version instead of the date/time of a commit"
GitTools.IssueTrackers supports FixVersions to specify in what version an issue is fixed. This way it should automatically be possible to correctly generate the release notes.

[2015-06-09 11:43] JakeGinnivan commented on #85
This needs to be a strategy, using milestones should not be required for GitHub

[2015-06-09 11:46] GeertvanHorrik commented on #85
What do you mean by that? When I specify JIRA, it has milestones / fixversions, but we can still combine stuff. For example, I am testing this on Catel, and 3.8.1 should have only 1 fix (hotfix release), still it has this:

[code]

[2015-06-09 11:47] GeertvanHorrik commented on #85
So we should either:

1) Accept issues from the issue tracker (we assume that the issue tracker is always right)
2) Add additional mentioned issues inside commits that are inside a tag AND are closed (might be a partial commit)

[2015-06-09 11:48] JakeGinnivan commented on #85
I should be able to run this tool against a github repository which is *not* using milestones or mentioning issue numbers in commits

[2015-06-09 11:49] GeertvanHorrik commented on #85
Then this will happen:

1) No issues found (because no milestones)
2) Issues are mentioned in commits, so these are gathered

Works perfect, right?

[2015-06-09 11:50] JakeGinnivan commented on #85
I used GitReleaseNotes to generate https://github.com/ParticularLabs/GitVersion/releases/tag/3.0.0-Beta3

We don't use milestones or mention commits and the tool works fine. We cannot remove that functionality

[2015-06-09 11:52] GeertvanHorrik commented on #85
Then the title might have mislead you a bit. It will always be a combination of 2:

1) Use issue tracker (in case people forget to mention an issue)
2) Use commits (which is a fallback in case 1 is not available)

[2015-06-09 11:53] JakeGinnivan commented on #85
https://github.com/ParticularLabs/GitVersion/releases/tag/3.0.0-Beta3 includes pull requests and issues, it is not using commits?

[2015-06-09 11:54] GeertvanHorrik commented on #85
It finds the issues because they are being mentioned inside the commit titles, so using commits, right?

[2015-06-09 11:55] JakeGinnivan commented on #85
Nope, many of those issues do not mention issues. It works by getting all closed issues between the timestamp of the last git tag and the current git tag or now

[2015-06-09 11:57] JakeGinnivan commented on #85
Here is the logic I think we need for generating a complete release notes (all releases):

1) Gather all release versions, this is from tags and the issue tracker (completed releases/milestones). Versions from the tracker should win over tags
2) Get issues closed between closing the previous version and closing the current version
3) Get issues tagged with fix version/in milestone
4) Combine 2 & 3

[2015-06-09 11:57] GeertvanHorrik commented on #85
On all branches or a specific branch where the tags are used?

[2015-06-09 11:58] JakeGinnivan commented on #85
GitReleaseNotes gets run against a branch, so all tags on that branch

[2015-06-09 12:00] GeertvanHorrik commented on #85
2) AND are assigned to a milestone OR have no milestone at all. Otherwise it might be an issue we fixed on develop while we were fixing the hotfix (that's what happening on my test data right now).

So I think we should combine 2 and 3.

[2015-06-09 12:56] JakeGinnivan commented on #85
That restriction makes sense where querying closed issues during a time period. Just exclude issues which have a milestone assigned.

I don't mind getting incorrect data, I manually edit/combine/remove issues anyways after I generate. The tool just does the hard work of collating the data for me

[2015-06-09 13:40] GeertvanHorrik commented on #85
We are looking to automatically generated stuff very dynamically (if test a updates from unstable 34 - unstable 36, we want to include that so they know exactly what has happened since last time). I will try to implement it so everyone is happy.

[2015-06-10 08:03] GeertvanHorrik commented on #85
I will close this issue, we can discuss further at #86.

[2015-06-10 08:03] #85 closed

[2015-07-02 19:11] pascalberger commented on #15
+1

[2015-07-06 17:37] pascalberger opened #87 "Support usage without issue tracker"
Consider a mode where GitReleaseNotes could be used without issue tracker support. This would allow to use it in environments where a currently not supported issue tracker is used (like TFS/VSO). In this case it should just add the commit messages to the change log.

[2015-07-06 17:42] GeertvanHorrik commented on #87
We are actually working on a new codebase where the issue tracker is just an addition, no longer a requirement.

[2015-07-06 17:44] GeertvanHorrik commented on #87
But... don't get your hopes up this will be implemented soon. We have a lot on our plate.

[2015-07-06 18:16] gep13 commented on #87
Also, I think the intention of GitReleaseNotes is a flat file of some description.  This file could then be picked up by GitReleaseManager to continue the process of connecting to the Issue Tracker that is being used.

[2015-07-06 18:18] GeertvanHorrik commented on #87
@gep13 exactly, I misread that part, good addition.

[2015-07-08 18:37] pascalberger commented on #15
There's another project on GitHub for an API to TFS/VSO: https://github.com/ethomson/infinity.net. There's currently work done there for work item support.

[2015-08-26 11:44] batzen commented on #46
Would be nice if you could fix this issue.
Wasn't a nice starting experience not being able to install via chocolatey.
Would have moved on to the next alternative if I haven't seen @GeertvanHorrik name appearing here.

[2015-08-26 11:52] khellang commented on #46
OK, something is definitely FUBAR with this repo. I just got a notification for @batzen's comment and the link pointed to `https://github.com/JakeGinnivan/GitReleaseNotes/issues/46#event-140531365`. Maybe you should contact GitHub and have them look into it?

[2015-08-26 12:01] GeertvanHorrik commented on #46
@batzen let me know if you need help. Happy to contribute to fluent to get this up and running.

[2015-08-26 12:03] GeertvanHorrik commented on #46
We are currently working on creating a centralized core for GitVersion / GitReleaseNotes / GitLink / etc. Once that is ready, we can release a new version and this will all be over (the redirecting issues).

[2015-08-26 12:16] gep13 commented on #46
@khellang are you talking about the notification on the GitHub website, or the link in the email that came through?  I got some emails about the new notifications, and they correctly link to this repo.

[2015-08-26 12:28] JakeGinnivan commented on #46
@GeertvanHorrik I think we may need to revert changes to go back to where the last release was then try and increment from there. I don't feel master is in a state we can release it as it is a pain to use and all the original docs are invalid

[2015-08-26 12:29] JakeGinnivan commented on #46
Then we can slowly build back the new functionality in a non breaking way?

[2015-08-26 12:38] khellang commented on #46
@gep13 GH website :smile:

[2015-08-26 12:47] GeertvanHorrik commented on #46
@JakeGinnivan agree, I am on feature/gittools_core for a while now. Once Atlassian.Sdk supports REST (I proposed a few methods we need), then we can "finish" GitTools.Core. Can you do the revert or do you want me to do it?

[2015-09-04 09:20] bendetat opened #88 "Chocolatey install doesn't work"
Per the install instructions, `cinst GitReleaseNotes` doesn't work. Looks like `chocolateyInstall.ps1` is pointing to `github.com/JakeGinnavan/GitReleaseNotes` instead of this repo.

![](http://i.imgur.com/9Eh1nag.png)

[2015-09-16 04:00] JakeGinnivan commented on #88
https://chocolatey.org/packages/GitReleaseNotes.Portable has been submitted and hopefully approved soon.

[2015-09-16 04:00] #88 closed

[2015-09-16 04:00] #82 closed

[2015-09-16 04:00] JakeGinnivan commented on #82
Works in 0.7.0

[2015-09-16 04:00] JakeGinnivan commented on #83
Fixed in 0.7.0

[2015-09-16 04:00] #83 closed

[2015-09-16 04:01] JakeGinnivan commented on #46
https://chocolatey.org/packages/GitReleaseNotes.Portable is waiting approval

[2015-09-16 04:01] #46 closed

[2015-09-16 07:08] gep13 commented on #46
@JakeGinnivan I have just had a look at the package, and I just have a couple comments.  Any chance you can address them, and I will get the package approved and marked as trusted.

[2015-09-16 07:13] JakeGinnivan commented on #46
Yep! Will do

Sent from my Windows Phone
________________________________
From: Gary Ewan Park<mailto:notifications@github.com>
Sent: ‎16/‎09/‎2015 3:08 PM
To: GitTools/GitReleaseNotes<mailto:GitReleaseNotes@noreply.github.com>
Cc: Jake Ginnivan<mailto:jake@ginnivan.net>
Subject: Re: [GitReleaseNotes] Not able to install (#46)

@JakeGinnivan<https://github.com/JakeGinnivan> I have just had a look

[2015-09-30 06:38] JakeGinnivan opened #91 "Better exception when ordinal parameter is not used"
Unhandled Exception: System.InvalidOperationException: Number of ordinal arguments must at least {0}.
   at Args.ModelBindingDefinition`1.EnsureCorrectNumberOfOrdinalArguments(IEnumerable`1 ordinalArgs)
   at Args.ModelBindingDefinition`1.BindModel(TModel model, IEnumerable`1 args)
   at Args.ModelBindingDefinition`1.CreateAndBind(IEnumerable`1 args)
   at GitReleaseNotes.Program.Main(String[] arg

[2015-10-02 22:55] giggio commented on #91
:+1:
Same problem here.

[2015-10-02 23:00] giggio commented on #91
Ok, you have to do `GitReleaseNotes.exe . /OutputFile ReleaseNotes.md`. The dot is the secret, it is the working directory. If you run `GitReleaseNotes.exe /?` you will see the options.
The docs are not correct, they do not mention that. And the app should not throw an exception, it should say what is missing.
I suggest docopt .net to make that easier and follow standards.

[2015-10-02 23:17] giggio opened #92 "Fail when there is more than one remote"
I am running:

[code]

I have 3 remotes:

[code]

The resulting file contains only one pull request, like this:

[code]

If I clone the project from the correct remote (the one named code-cracker/code-cracker above) the release notes are generated as expected.

[2015-10-02 23:33] JakeGinnivan commented on #92
It looks for upstream, then origin as a convention.

Sent from my Windows Phone
________________________________
From: Giovanni Bassi<mailto:notifications@github.com>
Sent: ‎3/‎10/‎2015 7:17 AM
To: GitTools/GitReleaseNotes<mailto:GitReleaseNotes@noreply.github.com>
Subject: [GitReleaseNotes] Fail when there is more than one remote (#92)

I am running:

GitReleaseNotes.exe .  /OutputFile ReleaseNot

[2015-10-02 23:41] giggio opened #93 "Filter issues by type with Github"
We should be able to use only Issues, and not Pull Requests when generating a release note. In my case, the PRs are redundant, I don't need them there.

[2015-10-02 23:57] giggio commented on #92
It make sense. It would be nice if it was a parameter.

[2015-10-03 00:01] JakeGinnivan commented on #92
Yep, agreed!

Sent from my Windows Phone
________________________________
From: Giovanni Bassi<mailto:notifications@github.com>
Sent: ‎3/‎10/‎2015 7:57 AM
To: GitTools/GitReleaseNotes<mailto:GitReleaseNotes@noreply.github.com>
Cc: Jake Ginnivan<mailto:jake@ginnivan.net>
Subject: Re: [GitReleaseNotes] Fail when there is more than one remote (#92)

It make sense. It would be nice if it was a paramet

[2015-10-05 11:33] neoKushan opened #94 "/IssueTrackerProjectId does nothing when Issue Tracker is Jira"
Unfortunately, this causes GitReleaseNotes to dump all closed issues from all projects.

Not sure if other issue trackers are supported, only tested with Jira.

[2015-10-05 11:44] JakeGinnivan commented on #94
I noticed that.. I added a todo to the code to fix that and told Geert :)

Still lots to do on this project, just struggling for time to complete.

Sent from my Windows Phone
________________________________
From: neoKushan<mailto:notifications@github.com>
Sent: ‎5/‎10/‎2015 7:33 PM
To: GitTools/GitReleaseNotes<mailto:GitReleaseNotes@noreply.github.com>
Subject: [GitReleaseNotes] /IssueTrackerProj

[2015-10-05 12:57] GeertvanHorrik commented on #94
Yes, it's a catch 22, we need the author of the atlassian sdk to accept a few pr before we can fix this.

[2015-10-05 13:10] neoKushan commented on #94
I'm surprised the Atlassian SDK is missing such a basic feature.

[2015-10-05 13:12] GeertvanHorrik commented on #94
Well, it has that feature using the SOAP interface, but Atlassian disabled that last month on all cloud instances. This means that the library has to implement it as REST as well. I wrote a lot of extension methods that solve all of this, but the maintainer has to accept it. Once that is done, we will continue working on this.

[2015-10-12 19:04] mrbelk opened #95 "GitReleaseNotes.exe /OutputFile CHANGELOG.md throws exception"
When I try to run this command from within my repo, I get the following error:

[code]
When I try to run the tool specifying the WorkingDirectory (of "."), I get nothing.  When I specify /Verbose, I can't find where a logfile might be created and there is no verbose logging emitted to the console (Powershell).

What might I be doing wrong?

[2015-10-13 00:09] JakeGinnivan commented on #95
Try

Gitreleasenotes . /o changelog.md

Sent from my Windows Phone
________________________________
From: mrbelk<mailto:notifications@github.com>
Sent: ‎13/‎10/‎2015 3:05 AM
To: GitTools/GitReleaseNotes<mailto:GitReleaseNotes@noreply.github.com>
Subject: [GitReleaseNotes] GitReleaseNotes.exe /OutputFile CHANGELOG.md throws exception (#95)

When I try to run this command from within my repo, I get

[2015-10-13 12:29] mrbelk commented on #95
no joy.  Same error.

[2015-11-03 11:33] xpicio commented on #95
Hello i have the same issue with version 0.7.1 installed by chocolatey.

The command ```Gitreleasenotes /O test.md``` it does generate the following exception:

[code]

[2015-11-03 12:52] dazinator opened #96 "System.InvalidOperationException: Sequence contains more than one matching element"
I have been using an older version of GitReleaseNotes Command Line tool for a while, thought I would try out the latest [version on NuGet](https://www.nuget.org/packages/GitReleaseNotes/)

I am calling out to it during a Team City build. It ran fine the first build! The second build it has started throwing this exception.

Perhaps this is something I have configured wrong, but not obvious from the

[2015-11-03 13:03] dazinator commented on #96
Noticed there was an erroneous TAG created after the last release (created in error). Deleting this tag fixed the problem.

The issue was, I have a couple of different build configurations in team city chained to the same dependency. One does VCS labelling, and publishes a github release (using git release notes etc)

The second does a NuGet release (publish).

This second one also had VCS labelli

[2015-12-14 13:40] mrbelk commented on #95
Any movement on this issue?  Would really like to use this tool for building ReleaseNotes.  The GitVersion stuff is great, and this would be a nice companion for that.

[2016-01-21 14:47] pardahlman commented on #91
Same problem for me.

[2016-02-06 10:33] dennisdoomen commented on #95
I installed mine using Chocolatey, and it worked for the first time (although the tags were not ordered correctly) using ` gitreleasenotes . /o notes.md /alltags /verbose`. However, after deleting the output file and re-running the command-line, nothing happens. No exception, no nothing. Had the same thing the last time I tried this project.

[2016-02-06 11:29] dazinator commented on #95
I haven't tried replicating this yet, but perhaps your working directory is not what you believe it to be? Can you try, rather than a ".", specify the full path to some location and then check for the file there

[2016-02-06 11:35] dazinator commented on #96
Closing as I found the solution to this

[2016-02-06 11:35] #96 closed

[2016-02-06 11:40] dennisdoomen commented on #95
![image](https://cloud.githubusercontent.com/assets/572734/12866475/c1d595b4-ccce-11e5-877b-a2c1c4f4af5b.png)

The first time it works, the next time nothing happens. As if it is keeping some state somewhere.

[2016-02-06 12:07] JakeGinnivan commented on #95
A while back a bunch of stuff got broken, at the moment I am just using `gitreleasenotes . /o newrelease.md`.

Because it work enough for me I haven't got back to it :(

[2016-02-11 11:49] mkoertgen commented on #95
Had the same exception as in https://github.com/GitTools/GitReleaseNotes/issues/95#issue-111035509.

Adding "." as working directory worked for me

[2016-02-11 12:58] dennisdoomen commented on #95
The point is that it doesn't throw anything. It just doesn't work anymore.

[2016-02-11 13:15] GeertvanHorrik commented on #95
Once GitTools.Core is stable enough, we will give this component some love again.

[2016-02-11 13:16] dennisdoomen commented on #95
:+1:

[2016-03-02 16:24] aateeque commented on #95
This is caused by the first argument being a switch (arg preceded by `/`). First argument must always be the `WorkingDirectory` path because of the `ArgsMemberSwitch` attribute on https://github.com/GitTools/GitReleaseNotes/blob/master/src/GitReleaseNotes/GitReleaseNotesArguments.cs#L11

[2016-03-14 16:06] aateeque opened #102 "Should `git commit push` generated file"
Just started using this, and I don't see why it doesn't automatically commit the output file and push to git. I use this currently in TeamCity and am manually having to push and commit. Shouldn't this be part of this too?

[2016-03-28 15:04] dazinator opened #103 "Nuspec - specify developmentDependency"
Setting the `developmentDependency` flag in the `Nuspec` might be a good idea, as it means that if people add GitReleaseNotes as a NuGet package to their project, when they then come to doing a `nuget pack` on their project, NuGet will recognise GitReleaseNotes as a dev time dependency only and so it won't be added as a depedency for their published packaged.

 https://docs.nuget.org/create/nuspec

[2016-04-15 15:02] roh85 opened #104 "Getting no output when running GitReleaseNotes with private Bitbucket repo"
Trying to get GitReleaseNotes working with my private Git repo hosted on BitBucket. Not getting an error but also not getting any output.

I have tried several commands but can't figure out what is going wrong.

GitReleaseNotes.exe . /AllTags /OutputFile ReleaseNotes.md --> nothing
GitReleaseNotes.exe . /IssueTracker Jira /Repo dynalean/dfservicestock /RepoUs ##### /RepoP ##### /O ReleaseNotes.md

[2016-05-06 16:26] glianeric commented on #104
I am having the same problem.   Should it not just grab information from the local git clone?

[2016-06-20 01:11] JakeGinnivan commented on #102
Not always, I use it to create release notes on the fly and attach to a GitHub release

[2016-06-20 15:32] aateeque commented on #102
Would it be useful to add it as an option?

[2016-06-20 19:31] gep13 commented on #102
Would it be useful to add it as an option?

From my point of view, I am not sure if this is a good idea.  I tend to think of tools doing one thing well, rather than trying to do everything.

[2016-06-20 20:37] #102 closed

[2016-07-15 07:35] pkiers commented on #95
Hello,
I've heard you were looking for that stuff for  a long time, so I finally found it for you, read more here <http://desire.construction-consulting.com/e2yyck>

Thanks for your consideration, p.kiers@home.nl

[2016-08-29 17:32] laedit commented on #104
I have the same thing with a GitHub public repo.

[2016-08-29 21:00] laedit opened #105 "Parse existing date bug"
There is a bug when the date of an existing release notes is parsed: if it is not in `"dd MMMM yyyy"` or `"MMMM dd, yyyy"` but parsable by `DateTime`, there is an aggregation of both date:
 `# 0.1.2 (2016-08-26) (26 August 2016)`

I think it is caused by a missing `else` on [this line](https://github.com/GitTools/GitReleaseNotes/blob/master/src/GitReleaseNotes/Models/SemanticReleaseNotes.cs#L126).

[2016-08-30 21:39] Franklin89 opened #107 "BitBucket Support"
If I set the IssueTracker to BitBucket I am unable to create ReleaseNotes. The Issue #57 has been closed and merged but if I download your solution the files are not in the GitReleaseNotes project.

![image](https://cloud.githubusercontent.com/assets/4151467/18107836/e99caf78-6f09-11e6-814f-1f63e1baceef.png)

[2016-08-30 21:45] Franklin89 commented on #107
Okay found them in the GitTools.IssueTrackers project. But BitBucket seems to be missing there.

[2016-08-31 01:13] JakeGinnivan commented on #107
@GeertvanHorrik did the bitbucket support get removed at some point?

[2016-08-31 08:53] GeertvanHorrik commented on #107
Not sure, I thought I implemented it, maybe on a separate branch. Will check.

[2016-08-31 08:55] GeertvanHorrik commented on #107
I think we are confused with JIRA. We have been working on support for JIRA, not BitBucket for what I can remember (although both from Atlassian).

[2016-08-31 09:31] JakeGinnivan commented on #107
https://github.com/GitTools/GitReleaseNotes/commit/58d0b6f937375ea761c444602574156b528fe9f1

We added it, but it seems to be gone now.

[2016-08-31 09:42] Franklin89 commented on #107
The source code is still there in the repo but not referenced in the solution. But since all the IssueTrackers got moved to a separate repo I suppose it has to be re-implemented there?

[2016-09-01 11:02] Franklin89 commented on #107
Opened an Issue on the correct repo and closing this one...

https://github.com/GitTools/GitTools.IssueTrackers/issues/7

[2016-09-01 11:02] #107 closed

[2017-03-08 18:28] matkoch opened #108 "Issues are duplicated in different releases"
[Here](https://github.com/matkoch/TestLinker2/releases/tag/5.1.16) you can see, that `#15` is duplicated in 5.1.15 and 5.1.16.

Now this is only a test project, and I'm executing GRN + GRM only from my local machine. However, I was carefully fetching, after the tag was created by GRM (which was my first guess). But it's of no help.

Anything I'm doing wrong?

[2017-03-08 18:34] matkoch opened #109 "Commits link"
I guess the commit link is not very helpful. For instance, if a release only includes 1 commit (compared to the last release), it tries to compare that single commit to itself, yielding the GH page:

[code]

I guess what should really be done, is to use the _previous_ commit. Text itself however, looks okay.

[2017-03-08 20:36] matkoch commented on #108
There seems to be a summer/winter time problem:

![octokit](https://cloud.githubusercontent.com/assets/5005566/23722722/bf88d590-0446-11e7-9db2-c809317aa647.PNG)
![gittools](https://cloud.githubusercontent.com/assets/5005566/23722727/c0cbaa7c-0446-11e7-92c9-fe435b7aaf99.PNG)
![comparison](https://cloud.githubusercontent.com/assets/5005566/23722729/c21307d6-0446-11e7-854c-1314aae75952.PNG)

@JakeGi

[2018-03-04 10:30] StefH opened #111 "High Prio: Unable to generate ReleaseNotes due to "SSL/TLS secure channel" exception"
I noticed that I was unable to generate release-notes for my project (https://github.com/WireMock-Net/WireMock.Net)

When debugging the source code from **GitReleaseNotes**, I got an exception:

![exception](https://user-images.githubusercontent.com/249938/36944539-db2d8fc4-1f9e-11e8-870b-f1884e5b843f.png)

I could solve this by adding this line at the beginning of `Program.cs`.
[code]

Is this a

[2018-03-04 13:09] GeertvanHorrik commented on #111
Github recently deprecated one of the TLS types. This should probably be updated in this component. Interested in doing a PR?

[2018-03-05 08:17] gep13 commented on #111
@StefH @GeertvanHorrik this happened recently in GitReleaseManager as well.  The fix in that case was here:

https://github.com/GitTools/GitReleaseManager/pull/106

I imagine that it would be similar for GitReleaseNotes.

[2018-03-05 11:07] StefH commented on #111
The fix in **GitReleaseManager** looks 100% the same as I did as work-around for this project.

I'll create a PR and in the meantime if you need a fix, you could download the fixed binary from https://github.com/WireMock-Net/WireMock.Net/blob/master/GitReleaseNotes.exe

[2018-03-05 18:33] StefH opened #113 "Unable to build solution in latest VS 2017"
When building, I get this error message:

Note when I upgrade `Fody` and `Costura.Fody` to latest versions, I can build.

[2018-03-05 18:33] StefH opened #114 "The build + unittests are failing"
See https://ci.appveyor.com/project/GitTools/gitreleasenotes/branch/master

[2018-03-05 18:33] StefH commented on #111
PR Created

[2018-03-06 14:15] Maxhy opened #115 "Add GitLab issue tracker support"
GitLab issue tracker is currently not supported and could be easily integrated once https://gitlab.com/gitlab-org/gitlab-ce/issues/30822 implemented. For now, it may be possible to do manually the filter on client side based on `closed_at`.

[2018-03-08 16:20] lpender opened #116 "Where are the release notes?"
"Have a look at the release notes in this Repo for a sample of what is generated by GitReleaseNotes"

Where are they?

I see this in the directory structure:

![image](https://user-images.githubusercontent.com/1406554/37162197-a2dd1bc2-22c2-11e8-886d-733959e92784.png)

[2018-03-08 16:59] Maxhy commented on #115
I did a first implementation but I'm not able to test it very well... Looks like I also have to update GitTools.IssueTrackers.IssueTrackerType to add GitLab on the list. What I did locally but my new factory is still not detected on GitReleaseNotes. What's the magic here? Could you explain quickly here so I will send a PR for this support? Thanks.

[2018-04-04 08:48] jzeferino opened #117 "Don't generate releasenotes.md"
I've tested the executable in OSX and Windows eg: `GitReleaseNotes.exe . /OutputFile ReleaseNotes.md`

I runned it under a git repository, (github and bitbucket (without using credentials)).
The ReleaseNotes.md don't event gets generated nor I get any feedback/error.

[2018-04-04 09:27] dazinator commented on #117
It's most likely due to this: https://github.com/GitTools/GitReleaseNotes/issues/111

[2018-04-04 09:31] jzeferino commented on #117
The PR is already done in #112. Waiting for the merge.

[2018-04-04 10:57] gep13 commented on #117
@jzeferino @dazinator so, I have merged the PR that you mention, but I will need to consult with @JakeGinnivan about how to get a release out.

I will keep you both posted once I know what the process is.

[2018-04-04 12:48] jzeferino commented on #117
@JakeGinnivan can you release this version please?

@gep13 thank you.

[2018-04-10 15:44] ianceicys commented on #117
Very interested in this fix as I too cannot see any releasenotes.md file being generated.

[2018-04-11 01:59] Stanzilla commented on #116
Yeah, wondering the same here

[2018-04-20 12:06] PatrickGrub commented on #117
@holytshirt same issue here!

[2018-06-13 23:52] CRuppert commented on #117
same...

[2018-07-04 09:40] gep13 commented on #117
@jzeferino @dazinator @ianceicys @holytshirt @PatrickGrub @CRuppert can you all have a play with the newly released version, and see if this has been resolved?

[2018-08-07 06:55] donnib opened #120 "Jira implementation does not work anymore"
The JIRA implementation is probably based on SOAP which is not supported anymore so this needs to be migrated to REST.

[2018-08-07 07:29] GeertvanHorrik commented on #120
Here is an example of the REST api usage:

https://github.com/CatenaLogic/JiraCli/blob/develop/src/JiraCli/Services/VersionService.cs

[2018-08-24 22:15] dazinator commented on #117
@gep13 I couldn't find the update on chocolatey.
https://chocolatey.org/packages/GitReleaseNotes.Portable

I am currently running via the chocolatey package. Any chance this could be released there? Or do we now get it from nuget?

[2018-08-29 10:20] gep13 commented on #117
@dazinator sorry, I am just seeing this now.  Give me a few days, and I will try to get this done.

[2018-08-29 10:23] gep13 commented on #117
Wait, there seems to be something wrong here...

Chocolatey already had a 0.7.1 release, dated back to 2015.  Not sure what is going on there.  I will have a dig into it, and see what I can come up with.

[2018-09-22 07:10] StefH commented on #114
solved

[2018-09-22 07:10] #114 closed

[2018-09-22 07:10] StefH commented on #111
issue is solved

[2018-09-22 07:10] #111 closed

[2018-09-22 07:21] StefH commented on #113
Above error is solved.

Now I get a new one:

Upgrading Fody to `Fody.1.29.4` solved this. I'll create a PR?

[2018-09-22 07:54] StefH opened #121 "Exception: Requested value 'Bot' was not found."
I'm not able to build on VS 2017 (https://github.com/GitTools/GitReleaseNotes/issues/113)

But after upgrading to `Fody.1.29.4` I can build again.

However running the `GitReleaseNotes` command throws an exception

Seems related to https://github.com/github/VisualStudio/issues/1098 ?

[2018-10-26 20:00] stunney commented on #117
Bump

[2018-10-26 20:00] stunney commented on #111
Is this posted to chocolatey.org yet?

[2018-10-26 21:13] StefH commented on #111
Not yet I believe. However since a few weeks the functionality seems broken. Maybe related to https://github.com/GitTools/GitReleaseNotes/issues/121 ?

[2018-10-27 10:56] StefH commented on #117
If anyone is interested in testing a trimmed down version from this tool (only support for GitHub git-repositories), take a look at:
https://github.com/StefH/GitHubReleaseNotes

Please create an issue if you experience any troubles.

[2018-11-29 10:29] david-bugeja commented on #117
Is this project still active and working for anyone? Still having trouble getting it to work. No releasenotes file generated and no error generated.

@StefH if I understand correctly, your GitHubReleaseNotes doesn't support authentication? Tried it on one of our private repos and got a not found exception.

[2018-11-29 10:54] StefH commented on #117
I use the Octokit.GitHubClient (which uses the free / throtled api from GitHub) to connect to repo.

I never tested on private repo's because I dont have.

Can you please make an issue in my project and provide me with some details? And maybe you can create a dummy private repo and give me access so I can test it?

[2018-11-30 09:25] StefH commented on #117
@david-bugeja

Can you please test version here ?
https://github.com/StefH/GitHubReleaseNotes/releases/tag/1.0.4.0-preview

[2021-07-30 16:10] bsia opened #123 "The semantic release notes URL in the README is broken."

[2021-11-04 14:31] vssubs commented on #104
Is this project still active no been updated for a long while and I am also having this same issue.
No file or output even when adding /Verbose to the command
I wanted to use it in conjunction with gitversion

[2021-11-04 15:03] StefH commented on #104
@vssubs
As a replacement, you can take a look at https://github.com/StefH/GitHubReleaseNotes

[2021-11-04 15:08] arturcic commented on #104
as to my knowledge it's not maintained anymore, so you could use what @StefH suggested